@model List<Motel>

@{
    ViewData["Title"] = "Motel search result";
}
<div class="container">

    <div class="d-flex">
        @foreach (var m in Model)
        {
            <div>
                <img src=@m.ImageUrl alt="Motel picture" />
            </div>
            <div>
                <p>@m.Name</p>
                <p>@m.Address, @m.City, @m.Province, @m.PostalCode</p>
                <a class="btn btn-primary" asp-action="MotelDetail" asp-route-id="m.Id">Detail</a>
            </div>
        }
    </div>

</div>
