@model List<RoomType>
@{
    ViewData["Title"] = "List of room types";
}

<div class="container">
    <div class="register-photo">
        <div class="container col-md-8">
            <img src="https://media.licdn.com/dms/image/C4E12AQHFQZv1viZcbw/article-cover_image-shrink_600_2000/0/1526901637188?e=2147483647&v=beta&t=307kuoZQRustj0H5x4YPQFva3n3VxCkYHI065DxsF00" alt="" width="100%" />
        </div>
    </div>
    <h2 class="text-center">List of Room Types</h2>
    <br>


    <!-- Search Bar -->
      <div class="container d-flex justify-content-center">
            <div class="col-8 row">
                <h3 class="col-4 px-1" style="margin:auto;">Staff List</h3>
                <div class="col-5 px-1">
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group">
                            <input type="search" name="searchWord" class="form-control rounded"
                                   placeholder="Type name ..." />
                            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-3 px-1 d-flex justify-content-end" style="margin:auto;">
                    <a class="btn btn-success" asp-action="Create">
                        Create
                    </a>
                </div>
            </div>
        </div>
        <br>

    <!-- RoomTypes List -->
    <div class="col-8" style="margin:auto">
        @if (TempData["TypeOption"] != null)
        {
            <div id="TypeOption" class="flash alert alert-warning">
                @TempData["TypeOption"]
            </div>
        }
        <div class="card text-black bg-light">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-3 text-center">Name</th>
                            <th class="col-3 text-center"><i class="fa-solid fa-bed"></i>sleep</th>
                            <th class="col-3 text-center"><i class="fa-regular fa-hand"></i>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rt in Model)
                        {
                           <tr>
                                <td class="col-3 text-center">@rt.Name</td>

                                <td class="col-3 text-center">@rt.Sleep</td>
                                <td class="col-3 text-center">
                                    <a style="margin-right:1rem;"
                                   asp-action="Edit"
                                   asp-route-id="@rt.Id"><i class="fa-solid fa-pen-to-square" style="color:orange"></i></a>
                                    <a asp-action="Delete"
                                   asp-route-id="@rt.Id"><i class="fa-solid fa-trash" style="color:red"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("TypeOption").style.display = "none";
    }, 3000);
</script>












