 
@model Room
@{
    ViewData["Title"] = "Delete an Room";
}


<div class="container col-8">
 @*   @if (TempData["roomTypeDeleteOption"] != null)
    {
        <div id="roomTypeDeleteOption" class="flash alert alert-warning">
            @TempData["roomTypeDeleteOption"]
        </div>
    }*@
    <div class="flash alert alert-success">
        <p>Are you sure you want to delete roomType @Model.Id ?</p>
        <form method="post">
            <button type="submit" class="btn btn-danger" asp-controller="RoomType" asp-route-id="@Model.Id">Delete</button>
            <a class="btn btn-primary" asp-controller="RoomType" asp-action="Index">Cancel</a>
        </form>
    </div>

    <div>
      @*  <dl>
            <dt></dt>
            <dd><img src=@Model.ImageUrl alt="RoomType logo" width="150" height="150" /></dd>
        </dl>*@
        <dl>
            <dt>Id</dt>
            <dd>@Model.Id</dd>
        </dl>
        <dl>
            <dt>Motel</dt>
            <dd>@Model.Motel.Name</dd>
        </dl>
        <dl>
            <dt>Room Number</dt>
            <dd>@Model.RoomNum</dd>
        </dl>
        <dl>
            <dt>Price</dt>
            <dd>@Model.Price</dd>
        </dl>
        <dl>
            <dt>Room Type</dt>
            <dd>@Model.RoomType.Name</dd>
        </dl>
        
    </div>
</div>
