@model List<Room>
@{
    ViewData["Title"] = "List of rooms";
}

<div class="container mb-5">
    <div class="col-8" style="margin:auto">
      <div style="width:100%; height:8rem; margin-bottom: 1rem; background-image:url('../images/cartBackground.jpg');background-position:center; background-size:cover"></div>
    <br>

     <div class="container d-flex justify-content-center">
       
            <h3 class="col-4 px-1" style="margin:auto;">Room List</h3>
            <div class="col-5 px-1">
                <form class="form-inline my-2 my-lg-0" method="post" asp-action="Index">
                    <div class="input-group">
                        <input type="search" name="searchKeyWord" class="form-control rounded"
                               placeholder="Room Type name/Room Number...">
                        <button type="submit" asp-controller="AdminMotel" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-3 px-1 d-flex justify-content-end" style="margin:auto;">
                <a class="btn btn-success" asp-controller="StaffRoom" asp-action="Create">
                    Create
                </a>
            </div>
       
    </div>
    <br>
    <!-- Room List -->
    
        @if (TempData["RoomOption"] != null)
        {
            <div id="AirportOption" class="flash alert alert-warning">
                @TempData["RoomOption"]
            </div>
        }
        <div class="card text-black bg-light">

            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @*<th class="col-3 text-center">Image</th>*@
                            <th class="col-3 text-center"><i class="fa-solid fa-hashtag"></i>Number</th>

                            <th class="col-3 text-center"><i class="fa-solid fa-dollar-sign"></i>Price</th>

                            <th class="col-3 text-center">RoomType</th>
                            <th class="col-3 text-center"><i class="fa-regular fa-hand"></i>Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rt in Model)
                        {
                            <tr>
                                @*<td><img src=@rt.ImageUrl alt="room picture" width="50" height="50" /></td>*@
                                <td class="col-3 text-center">@rt.RoomNum</td>
                                <td class="col-3 text-center">@rt.Price</td>
                                <td class="col-3 text-center">@rt.RoomType.Name</td>

                                <td class="d-flex justify-content-center">
                                 
                                    <a style="margin-right:1rem;"
                                   asp-action="Edit"
                                   asp-route-id="@rt.Id"><i class="fa-solid fa-pen-to-square" style="color:orange"></i></a>
                                    <a asp-action="Delete"
                                   asp-route-id="@rt.Id"><i class="fa-solid fa-trash" style="color:red"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("RoomOption").style.display = "none";
    }, 3000);
</script>












