@model List<BookingCart>

@{
    ViewData["Title"] = "Items of Cart";
}


<div class="container">

    <div class="col-10" style="position:relative">
      @*  <div id="confirmRemove" class="flash">
            <p id="confirmQues">11</p>
            <form method="post">
                <button id="removeBtn" type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>*@
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Room Number
                    </th>
                    <th>
                        Checkin Date
                    </th>
                    <th>
                        Checkout Date
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (BookingCart bc in @Model)
                    {
                        <tr>
                            <td>
                                @bc.AppUser.UserName
                            </td>
                            <td>
                                @bc.Room.RoomNum
                            </td>
                            <td>
                                @bc.CheckinDate
                            </td>
                            <td>
                                @bc.CheckoutDate
                            </td>
                            <td>
                                $ @bc.Room.Price
                            </td>
                            <td>
                                $@(bc.Room.Price * (bc.CheckoutDate - bc.CheckinDate).Days)

                            </td>
                            <td>
                                <form method="post"> <button class="btn btn-danger" type="submit" asp-route-id="@bc.Id">Remove</button></form>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
        <div style="position:absolute;right:0.5rem">Total:$ @ViewBag.SubTotal  </div>
        <div><a asp-action="Index" class="btn btn-primary">Continue to choose room</a></div>
        <div><a asp-action="Payment" class="btn btn-primary">Go to Pay</a></div>

    </div>
</div>


