@using MotelBookingApp.Data.ViewModels
@model StaffBookingVM

@{
    ViewData["Title"] = "Available Rooms";
}

<div class="container">
 
    <div class="col-8 border border-orange-2 px-3 py-2">
          <form method="post">
                <div class="row">
                @*   <div class="col-lg-3 mb-3">
                    <select class="form-select" id="city" name="city">
                <option value="Montreal">Montreal</option>
                <option value="Moronto">Toronto</option>
                <option value="Vancouver">Vancouver</option>
                <option value="Laval">Laval</option>
                </select>
                </div>*@
                <div class="col-lg-3 mb-3">
                    <input class="form-control" id="city" asp-for="City" />
                </div>
                    <div class="col-lg-4 mb-4">
                    <input type="date" class="form-control" id="check-in"  asp-for="CheckinDate">
                    </div>
                    <div class="col-lg-4 mb-4">
                    <input type="date" class="form-control" id="check-out" asp-for="CheckoutDate">
                    </div>
                <div class="col-lg-2 mb-3">
                    <select class="form-select" id="room-type" asp-for="SearchType">
                        @foreach (var rt in Model.RoomTypeList)
                        {
                            <option value="@rt.Name">@rt.Name</option>
                        }
                    </select>
                    </div>
                    <div class="col-lg-1 mb-3">
                        <button type="submit" class="btn btn-primary" style="background-color: navy; color: white;">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.AvailableRooms != null)
{
    <div class="card text-black bg-light">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @*<th class="col-3 text-center">Image</th>*@
                        <th class="col-3 text-center">Room Number</th>

                        <th class="col-3 text-center">Price</th>

                        <th class="col-3 text-center">RoomType</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var rt in Model.AvailableRooms)
                    {
                        <tr>
                            @*<td><img src=@rt.ImageUrl alt="room picture" width="50" height="50" /></td>*@
                            <td>@rt.RoomNum</td>
                            <td>@rt.Price</td>
                            <td>@rt.RoomType.Name</td>

                            <th class="d-flex justify-content-center">

                                <a class="btn btn-sm btn-info" style="margin-right:4px;"
                           asp-action="Detail"
                           asp-route-id="@rt.Id">Detail/Edit</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete"
                           asp-route-id="@rt.Id">Delete</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

</div>
