@using MotelBookingApp.Data.ViewModels;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "List of Customers";
}

<div class="col-12 justify-content-center" style="margin-bottom:100px;">
    <div class="register-photo">
        <div class="container col-md-8">
            <img src="https://t4.ftcdn.net/jpg/03/81/89/61/360_F_381896172_z2QE8bV3z7FxzpGM6uzukJ3JAz6y6N0w.jpg" alt="" width="100%" />
        </div>
    </div>
    <div>
        <!-- Search Bar -->
        <div class="container d-flex justify-content-center">
            <div class="col-10 row">
                <h3 class="col-6 px-1" style="margin:auto;">Customer List</h3>
                <div class="col-6 px-1">
                    <form class="form-inline my-2 my-lg-0" method="Get" asp-controller="AdminCustomer" asp-action="CustomerList">
                        <div class="input-group">
                            <input type="search" name="SearchString" class="form-control rounded"
                                   placeholder="Search..." />
                            <button type="submit" asp-controller="AdminCustomer" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <!-- Customer List -->
        <div class="container d-flex justify-content-center">
            <div class="col-10">
                @if (TempData["CustomerListOption"] != null)
                {
                    <div id="CustomerListOption" class="flash alert alert-warning">
                        @TempData["CustomerListOption"]
                    </div>
                }
                <div class="card text-black bg-light">
                    <div class="card-body">
                        <table class="table table-hover" id="customerlist">
                            <thead>
                                <tr>
                                    <th class="col-3"><i class="fa-solid fa-user"></i> Name</th>
                                    <th class="col-3"><i class="fa-solid fa-envelope"></i> Email</th>
                                    <th class="col-3"><i class="fa-solid fa-phone"></i> Phone</th>
                                    <th class="col-3 text-center"><i class="fa-solid fa-hand"></i> Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var customer in Model)
                                {
                                    <tr>
                                        <td class="notranslate">@customer.FirstName @customer.LastName</td>
                                        <td class="notranslate">@customer.Email</td>
                                        <td class="notranslate">@customer.PhoneNumber</td>
                                        <td class="d-flex justify-content-center">
                                            <a class="btn btn-sm btn-primary" style="margin-right:4px;" asp-controller="AdminCustomer" asp-action="Detail" asp-route-id="@customer.Id">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("CustomerListOption").style.display = "none";
    }, 3000);
    if (@Model.ToList().Count == 0) {
        setTimeout(function () {
            window.location.replace('@Url.Action("CustomerList", "AdminCustomer")')
        }, 3000);
    }
</script>