@using MotelBookingApp.Data.ViewModels;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "List of Customers";
}

<div class="container mt-4">
    <!-- Search Bar -->
    <div class="container d-flex justify-content-center">
        <div class="col-10 row">
            <h3 class="col-4 px-1" style="margin:auto;">Customer List</h3>
            <div class="col-5 px-1">
                <form class="form-inline my-2 my-lg-0" method="Get" asp-controller="AdminCustomer" asp-action="CustomerList">
                    <div class="input-group">
                        <input type="search" name="SearchString" class="form-control rounded"
                               placeholder="Search..." />
                        <button type="submit" asp-controller="AdminCustomer" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-3 px-1 d-flex justify-content-end" style="margin:auto;">
                <a class="btn btn-success" asp-controller="AdminCustomer" asp-action="Create">
                    Create
                </a>
            </div>
        </div>
    </div>
    <br>
    <!-- Staff List -->
    <div class="container d-flex justify-content-center">
        <div class="col-10">
            @if (TempData["CustomerListOption"] != null)
            {
                <div id="CustomerListOption" class="flash alert alert-warning">
                    @TempData["CustomerListOption"]
                </div>
            }
            <div class="card text-black bg-light">
                <div class="card-body">
                    <table class="table table-hover" id="customerlist">
                        <thead>
                            <tr>
                                <th class="col-3"><i class="fa-solid fa-user"></i> Name</th>
                                <th class="col-3"><i class="fa-solid fa-envelope"></i> Email</th>
                                <th class="col-3"><i class="fa-solid fa-phone"></i> Phone</th>
                                <th class="col-3 text-center"><i class="fa-solid fa-hand"></i> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customner in Model)
                            {
                                <tr>
                                    <td class="notranslate">@customner.FirstName @customner.LastName</td>
                                    <td class="notranslate">@customner.Email</td>
                                    <td class="notranslate">@customner.PhoneNumber</td>
                                    <td class="d-flex justify-content-center">
                                        <a class="btn btn-sm btn-primary" style="margin-right:4px;" asp-controller="AdminCustomer" asp-action="Detail" asp-route-id="@customner.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("CustomerListOption").style.display = "none";
    }, 3000);
</script>