@model List<BookingCart>

@{
    ViewData["Title"] = "Items of Cart";
}


<div class="container">

    <div class="col-10">
        <div style="width:100%; height:8rem; margin-bottom: 1rem; background-image:url('../images/cartBackground.jpg');background-position:center; background-size:cover"></div>
        <h2 class="text-center text-primary">Your Cart Items</h2>
        <table class="table table-bordered align-items-center">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Room Number
                    </th>
                    <th>
                        Checkin Date
                    </th>
                    <th>
                        Checkout Date
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (BookingCart bc in @Model)
                    {
                        <tr>
                            <td>
                                @bc.AppUser.UserName
                            </td>
                            <td>
                                @bc.Room.RoomNum
                            </td>
                            <td>
                                @bc.CheckinDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @bc.CheckoutDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                $ @bc.Room.Price
                            </td>
                            <td>
                                $@(bc.Room.Price * (bc.CheckoutDate - bc.CheckinDate).Days)

                            </td>
                            <td>
                                <form method="post"> <button class="btn btn-outline-danger" type="submit" asp-route-id="@bc.Id">Remove</button></form>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
        <div class="d-flex justify-content-end">
            <sapn><b>HST:</b> $ @ViewBag.tax</sapn>
        </div>
        <div class="d-flex justify-content-end">
            <sapn><b>Total:</b> $ @ViewBag.Total</sapn>
        </div>
        <div class="d-flex justify-content-end"><a style="margin-right:1rem" class="btn btn-warning">Continue Booking</a><a asp-action="Payment" class="btn btn-success">Go to Pay</a></div>
    </div>
</div>


