@model List<BookingCart>

@{
    ViewData["Title"] = "Items of Cart";
}


<div class="container">

    <div id="confirmRemove" class="col-8" style="display:none">
        <div class="flash">
             <p id="confirmQues"></p>
        <form method="post">
            <button id="removeBtn"type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Customer Username
                    </th>
                    <th>
                        Room Number
                    </th>
                    <th>
                        Checkin Date
                    </th>
                    <th>
                        Checkout Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (BookingCart bc in @Model)
                {
                    <tr>
                        <td>
                            @bc.AppUser.UserName
                        </td>
                        <td>
                            @bc.Room.RoomNum
                        </td>
                        <td>
                            @bc.CheckinDate
                        </td>
                        <td>
                            @bc.CheckoutDate
                        </td>
                        <td>
                            <button asp-route-id="bc.Id" onclick="showMes(@bc.Room.RoomNum)">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <div><a asp-action="Payment" class="btn btn-primary">Go to Pay</a></div>

    </div>
</div>

<script>
    function showMes(roomNum){
        var mesContainer = document.getElementById("confirmRemove");
        mesContainer.style.display = "block";
        var qesContainer = document.getElementById("confirmQues");
        qesContainer.innerText = "Are you sure you want to remove Room "+ roomNum + " ?";
        var remBtn = document.getElementById("remBtn");
        remBtm.asp-route-name  = roomNum;
    }
</script>
