@model List<BookingCart>

@{
    ViewData["Title"] = "Items of Cart";
}

<div class="container col-8">
    <h4 class="text-center">Shopping Cart</h4>

    <div id="confirmRemove" class="col-12 mt-4">
        @if (TempData["CartOption"] != null)
        {
            <div id="CartOption" class="container flash alert alert-warning">
                @TempData["CartOption"]
            </div>
        }
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th class="col-2">
                        Customer
                    </th>
                    <th class="col-2">
                        Room
                    </th>
                    <th class="col-2">
                        Checkin
                    </th>
                    <th class="col-2">
                        Checkout
                    </th>
                    <th class="col-2">
                        Price
                    </th>
                    <th class="col-1">
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (BookingCart bc in Model)
                {
                    <tr>
                        <td>
                            @bc.AppUser.UserName
                        </td>
                        <td>
                            @bc.Room.RoomNum
                        </td>
                        <td>
                            @bc.CheckinDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @bc.CheckoutDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            $ @bc.Room.Price
                        </td>
                        <td>
                            <form method="post" asp-action="RemoveItem" class="d-flex align-items-center justify-content-center">
                                <button id="removeBtn" type="submit" class="btn btn-danger btn-sm" asp-route-id="@bc.Id">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" style="text-align:end;">
                        Total:
                    </td>
                    <td colspan="2" style="text-align:start">
                        $ @ViewBag.Total
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <form method="post" asp-action="CreateCheckoutSession" asp-controller="Checkout">
                <input type="text" id="TextBox1" placeholder="amount" name="amount" value="@ViewBag.Total" hidden />
                <button class="btn btn-primary" asp-action="Index" asp-controller="Home">Continue Shopping</button>
                <button type="submit" class="btn btn-primary">Checkout</button>
            </form>
        </div>

    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("CartOption").style.display = "none";
    }, 3000);
</script>

@*<script>
    function showMes(roomNum) {
        var mesContainer = document.getElementById("confirmRemove");
        mesContainer.style.display = "block";
        var qesContainer = document.getElementById("confirmQues");
        qesContainer.innerText = "Are you sure you want to remove Room " + roomNum + " ?";
        var remBtn = document.getElementById("remBtn");
        remBtm.asp - route - name  = roomNum;
    }
</script>*@
