@using Microsoft.AspNetCore.Identity
@using MotelBookingApp.Models
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@using MotelBookingApp.Data.ViewModels
@using Geocoding.Google
@model MotelDetailModel

@{
    ViewData["Title"] = "Motel search result";
}

@if (TempData["removeFav"] != null)
{
    <div class="flash alert alert-warning">
        @TempData["removeFav"]
    </div>
}

<div class="container col-10 flex-md-column align-content-center">
    <div class="border">
        <div>
            <div class="d-flex justify-content-around align-items-lg-center">
                <div>
                    <img src=@Model.Motel.ImageUrl width="150" heiht="150" alt="Motel picture" />
                </div>
                <div style="margin-right:1rem">
                    <div class="d-flex justify-content-start">

                        <p style="margin-right:1rem">@Model.Motel.Name</p>
                         <div class="d-flex justify-content-end m-1" style="color:gold">
                            @for (int j = 1; j <= 5; j++)
                            {
                                if (j <= Model.Motel.Score)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star-o"></i>
                                }

                            }
                        </div>
                        <form method="post">
                            <button style="border:none" asp-action="CityMotelDetail" asp-route-id="@Model.Motel.Id" type="submit">
                                @if (Model.Motel.IfFaivorite == true)
                                {
                                    <i class="fa-regular fa-heart" style="color:red"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-heart"></i>
                                }
                            </button>
                        </form>
                    </div>
                    <p>@Model.Motel.Address, @Model.Motel.City, @Model.Motel.Province, @Model.Motel.PostalCode</p>
                    <a href="#map">View Map</a>
                </div>

                <div>
                    <a class="btn btn-info m-1" asp-action="SearchRoomList" asp-route-id="@Model.Motel.Id">View Rooms</a>
                    <a class="btn btn-outline-success" asp-action="AddAComment" asp-route-id="@Model.Motel.Id">Add a comment</a>
                </div>
            </div>

            @*comments*@
            @if (Model.Comments != null)
            {
                @foreach (var c in Model.Comments)
                {
                    <div class="m-2 border">
                        <div style="position:relative">
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i style="color:blue; margin-right:0.5rem" class="fa-regular fa-user"></i>@c.User.UserName
                                </p>
                                <div>
                                    <span>
                                        @c.CreateDate
                                    </span>
                                    <br>
                                    <span class="d-flex justify-content-end" style="color:darkgoldenrod">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= Convert.ToInt32(@c.Score))
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star-o"></i>
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                            <div style="margin:0 1rem">
                                <p>@c.Content</p>
                            </div>
                            @if (UserManager.GetUserName(User) == @c.User.UserName)
                            {
                                <div class="d-flex justify-content-end">
                                    <form method="post">
                                        <a asp-action="EditComment" asp-route-id="@c.Id" ><i class="fa-solid fa-pen-to-square" style="color:orange"></i></a>
                                        <a asp-action="RemoveComment" type="submit" asp-route-id="@c.Id" ><i class="fa-solid fa-trash" style="color:red"></i></a>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

        </div>

    </div>
    <div id="map" style="height: 400px;"></div>
    <script>
        function initMap() {
            var latitude = @ViewBag.Latitude;
            var longitude = @ViewBag.Longitude;
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: latitude, lng: longitude },
                zoom: 16
            });
            var marker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map,
                title: '@ViewBag.Address'
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDEkj_2tqmLNrPm43uCX0_PjuWU0inMq4&callback=initMap"
            async defer></script>
</div>
