@using MotelBookingApp.Data.ViewModels
@model List<RoomInputModel>

@{
    ViewData["Title"] = $"Rooms of Motel";
}


<div class="container d-flex justify-content-center mb-5">
    <div class="col-10">
        <div class="register-photo">
            <div class="container">
                <img src="https://ninamagon.com/wp-content/uploads/2020/02/Hotel-Header-Image.png" alt="" width="100%" />
            </div>
        </div>
        @if (TempData["roomRes"] != null)  
        {
            <div id="roomRes" class="flash alert alert-warning">
                @TempData["roomRes"];
            </div>
        }

        @if (Model != null)
        {
            <div class="row">
                <form method="post">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-3">Image</th>
                                <th class="col-2">Type</th>
                                <th class="col-3">Room Number</th>
                                <th class="col-2">Price</th>
                                <th class="col-2"><i class="fa-regular fa-hand"></i>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
                                <tr class="m-1">
                                    <td class="col-3">
                                        <img src=@r.RoomTypeImage width="150" heiht="150" alt="Motel picture" />
                                    </td>
                                    <td class="col-2">
                                        @r.RoomTypeName
                                    </td>
                                    <td class="col-3">
                                        @r.RoomNum
                                    </td>
                                    <td class="col-2">
                                        $ @r.Price
                                    </td>
                                    <td class="col-2">
                                        <a class="btn btn-outline-primary" asp-action="RoomDetail" asp-route-id="@r.Id"> Book </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>


            </div>
        }
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary" asp-action="CityMotelList">check other motels</a>
        </div>
    </div>
</div>
<script>
  setTimeout(function () {
            document.getElementById("roomRes").style.display = "none";
        }, 3000);
</script>
 