@model MotelBookingApp.Models.FavoriteMotel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FavoriteMotel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Motel Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motel.Name)
        </dd>

          <dt class="col-sm-2">
           Motel Address:
        </dt>
        <dd class="col-sm-10">
            <dd>@Model.Motel.Address, @Model.Motel.City, @Model.Motel.Province, @Model.Motel.PostalCode 
            </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
