
@model IEnumerable<Motel>;
@{
    ViewData["Title"] = "All motels";
}

<div class="col-12 justify-content-center" style="margin-bottom:50px;">
    <div class="register-photo">
        <div class="container col-md-8">
            <img src="https://media.licdn.com/dms/image/C4E12AQHFQZv1viZcbw/article-cover_image-shrink_600_2000/0/1526901637188?e=2147483647&v=beta&t=307kuoZQRustj0H5x4YPQFva3n3VxCkYHI065DxsF00" alt="" width="100%" />
        </div>
    </div>
      @if (TempData["MotelOption"] != null)
            {
                <div id="MotelOption" class="flash alert alert-warning">
                    @TempData["MotelOption"]
                </div>
            }
    <!-- Search Bar -->
    <div class="container d-flex justify-content-center">
        <div class="col-10 row">
            <h3 class="col-4 px-1" style="margin:auto;">Motel List</h3>
            <div class="col-5 px-1">
                <form class="form-inline my-2 my-lg-0" method="post" asp-action="Index">
                    <div class="input-group">
                        <input type="search" name="searchWord" class="form-control rounded"
                               placeholder="Motel name or City name ..." />
                        <button type="submit" asp-controller="AdminMotel" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-3 px-1 d-flex justify-content-end" style="margin:auto;">
                <a class="btn btn-success" asp-controller="AdminMotel" asp-action="Create">
                    Create
                </a>
            </div>
        </div>
    </div>
    <br>


    <!-- Search Bar -->
  @*  <div class="container d-flex justify-content-center">
        <div class="col-8">
            <form class="form-inline my-2 my-lg-0" method="post" asp-action="Index">
                <div class="input-group">
                    <input type="search" name="searchKeyWord" class="form-control rounded" placeholder="Search..." />
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <br />*@

    <div class="container d-flex justify-content-center">
        <div class="col-10">

            <div class="card text-black bg-light">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-2"><i class="fa-solid fa-hotel"></i>Name</th>
                                <th class="col-2"><i class="fas fa-city"></i>City</th>
                                <th class="col-2 text-center"><i class="fa-regular fa-hand"></i>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var motel in Model)
                            {
                                <tr>
                                    <td>@motel.Name</td>
                                    <td>@motel.City </td>
                                    <td class="d-flex justify-content-center">
                                        <a style="margin-right:1rem;"
                                       asp-action="Edit"
                                       asp-route-id="@motel.Id"><i class="fa-solid fa-pen-to-square" style="color:orange"></i></a>
                                        <a asp-action="Delete" asp-route-id="@motel.Id"><i class="fa-solid fa-trash" style="color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    setTimeout(function () {
        document.getElementById("MotelOption").style.display = "none";
    }, 3000);
</script>

