@using MotelBookingApp.Data.ViewModels
@model MotelDetailModel
@{
    ViewData["Title"] = "My motel";
}

<div class="row mb-5">
    <div class="col-md-8 offset-2">
        <div class="d-flex justify-content-center align-items-center">
            <h2 class="text-center">@Model.Motel.Name</h2>
            <div class="d-flex justify-content-end m-1" style="color:gold">

                @for (int j = 1; j <= 5; j++)
                {
                    if (j <= Model.Score)
                    {
                        <i class="fa fa-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star-o"></i>
                    }
                }
            </div>
        </div>
        <div class="text-center">Address:@Model.Motel.Address,@Model.Motel.City, @Model.Motel.Province @Model.Motel.PostalCode</div>

        <div class="col-md-8" style="background-image:url(@Model.Motel.ImageUrl); width:100%; height:400px;background-position:center;background-repeat:no-repeat;background-size:cover">
        </div>

        <div>
            @*comments*@
            @if (Model.Comments != null)
            {
                @foreach (var c in Model.Comments)
                {
                    <div class="m-2 border">
                        <div style="position:relative">
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i style="color:blue; margin-right:0.5rem" class="fa-regular fa-user notranslate"></i>@c.User.UserName
                                </p>
                                <div>
                                    <span>
                                        @c.CreateDate
                                    </span>
                                    <span class="d-flex justify-content-end" style="color:darkgoldenrod">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= Convert.ToInt32(@c.Score))
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star-o"></i>
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                            <div style="margin:0 1rem">
                                <p>@c.Content</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>







